configuration {
  modi: "drun,run,window";
  show-icons: true;
  icon-theme: "Papirus-Light";
  terminal: "kitty";
  drun-display-format: "{name}";
  display-drun: "Apps";
  display-run: "Run";
  display-window: "Windows";
  matching: "fuzzy";
  sort: true;
  hover-select: true;
  me-select-entry: "MousePrimary";
  me-accept-entry: "MouseDPrimary";
}
