@import "shared.rasi"

configuration { drun-display-format: "{name}\n<span size='small'>{generic}</span>"; }
window { width: 620px; }
listview { columns: 1; lines: 7; scrollbar: true; spacing: 4px; }
element { padding: 10px 11px; }
element-icon { size: 32px; }
entry { placeholder: "Search applications…"; }
textbox-help { content: "Enter  Open application     Esc  Close"; }
