[Desktop Entry]
Type=Application
Name=Kona Settings
Comment=Kona desktop settings
Exec=kona-caelestia-settings
Icon=preferences-desktop
Terminal=false
Categories=Settings;Utility;
Keywords=Kona;Desktop;Customization;
