[Desktop Entry]
Type=Application
Name=Kona Shortcuts
Comment=Kona keyboard reference
Exec=kona-shell shortcuts
Icon=help-browser
Terminal=false
Categories=Settings;Utility;
Keywords=Kona;Desktop;Customization;
